@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 7vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchBar {
  display: flex;
  align-items: center;
  margin: 1rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 0 0 0 5px;
  max-width: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.searchBar input[type=text] {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #212121;
  background-color: transparent;
}

.searchBar input[type=text]::-moz-placeholder {
  color: #7b7b7b;
}

.searchBar input[type=text]::placeholder {
  color: #7b7b7b;
}

.searchBar input[type=text]:focus {
  outline: none;
}

.searchBar .search {
  background-color: #dcf2ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar .search svg {
  fill: #dcf2ff;
  width: 20px;
  height: 20px;
}

.searchBar .search:hover {
  background-color: #a9dfff;
}

.searchBar .search:hover svg {
  fill: #a9dfff;
}

.searchBar .search:active {
  background-color: #76ccff;
}

.searchBar .search:active svg {
  fill: #76ccff;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: helvetica, sans-serif;
}

.lds-ripple {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #ff7300;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.weather {
  padding: 1rem;
  background: #eff8ff;
  color: black;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.currentWeather {
  line-height: 1.25;
  padding: 2rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(192, 225, 255, 0.6), 0 0 2px rgba(115, 185, 255, 0.4), 0 0 2px rgba(0, 185, 241, 0.2), inset 0 0 2px rgba(212, 127, 0, 0.1), inset 0 0 2px rgba(0, 149, 255, 0.2);
  margin-bottom: 1rem;
}
.currentWeather .weatherMetrics {
  display: flex;
  align-items: center;
}
.currentWeather .weatherMetrics .temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.currentWeather .weatherMetrics .temperature .degrees {
  font-size: 2.5rem;
  font-weight: bold;
}
.currentWeather .weatherMetrics .temperature .weatherDescription {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-style: italic;
}
.currentWeather img {
  width: 150px;
  height: 150px;
}
.currentWeather .metrics {
  line-height: 1.25;
  padding: 2rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(192, 225, 255, 0.6), 0 0 2px rgba(115, 185, 255, 0.4), 0 0 2px rgba(0, 185, 241, 0.2), inset 0 0 2px rgba(212, 127, 0, 0.1), inset 0 0 2px rgba(0, 149, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.currentWeather .metricTitle {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}
.currentWeather .metricsIcon {
  width: 80px;
  height: 80px;
}
.currentWeather .weatherMetric {
  font-size: 1.3rem;
  font-weight: bold;
}

.weatherImage {
  height: 200px;
  width: 200px;
}

.mapWrapper {
  line-height: 1.25;
  padding: 2rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(192, 225, 255, 0.6), 0 0 2px rgba(115, 185, 255, 0.4), 0 0 2px rgba(0, 185, 241, 0.2), inset 0 0 2px rgba(212, 127, 0, 0.1), inset 0 0 2px rgba(0, 149, 255, 0.2);
  height: 400px;
  width: 400px;
}

#map {
  min-height: 350px;
  min-width: 350px;
  border-radius: 5px;
}

.forecast {
  line-height: 1.25;
  padding: 2rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(192, 225, 255, 0.6), 0 0 2px rgba(115, 185, 255, 0.4), 0 0 2px rgba(0, 185, 241, 0.2), inset 0 0 2px rgba(212, 127, 0, 0.1), inset 0 0 2px rgba(0, 149, 255, 0.2);
}
.forecast .forecastInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.forecast .forecastDay {
  margin: 10px;
  padding: 5px;
}
.forecast .forecastDate {
  font-weight: bolder;
  font-size: 1.2rem;
}
.forecast .forecastData {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bolder;
}
.forecast .forecastData img {
  width: 50%;
  height: 50%;
}
.forecast .forecastTitle {
  height: 25%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: helvetica, sans-serif;
}

.countryInfo {
  line-height: 1.25;
  padding: 2rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(192, 225, 255, 0.6), 0 0 2px rgba(115, 185, 255, 0.4), 0 0 2px rgba(0, 185, 241, 0.2), inset 0 0 2px rgba(212, 127, 0, 0.1), inset 0 0 2px rgba(0, 149, 255, 0.2);
  width: 100%;
}/*# sourceMappingURL=style.css.map */