@use "partials/reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@mixin theme($theme: cards) {
  line-height: 1.25;
  padding: 0.5rem;
  margin-right: 0.5rem;
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 3px;
  border: 3px solid rgb(0, 32, 53);
}

$font_family: "Open Sans", sans-serif;
$primary_color: #f8f9fa;
$second_color: #151f49;

body {
  font-family: $font_family;
}

// Header

header {
  height: 10vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  margin: 1rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 0 0 0 5px;
  max-width: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.searchBar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #212121;
  background-color: transparent;
}

.searchBar input[type="text"]::-moz-placeholder {
  color: #7b7b7b;
}

.searchBar input[type="text"]::placeholder {
  color: #7b7b7b;
}

.searchBar input[type="text"]:focus {
  outline: none;
}

.searchBar .search {
  background-color: #dcf2ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar .search svg {
  fill: #dcf2ff;
  width: 20px;
  height: 20px;
}

.searchBar .search:hover {
  background-color: #a9dfff;
}

.searchBar .search:hover svg {
  fill: #a9dfff;
}

.searchBar .search:active {
  background-color: #76ccff;
}

.searchBar .search:active svg {
  fill: #76ccff;
}

.location {
  background-color: #dcf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  svg {
    margin-right: 0.1rem;
  }
}

.location:hover {
  background-color: #a9dfff;
}

.location:active {
  background-color: #76ccff;
}

// Main content

.content {
  padding: 1rem;
  background: $primary_color;
  color: $second_color;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

// General information

.generalInfo {
  @include theme(cards);
}

.topInfo {
  height: 25%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherInfo span {
  font-weight: bold;
}

// Air quality div

.airPollution {
  @include theme(cards);
}

.components {
  display: flex;
  align-items: center;
  justify-content: center;

  .leftComponents,
  .rightComponents {
    margin: 0.5rem;
  }
}

.components span {
  font-weight: bold;
}

// Forecast

.forecast {
  @include theme(cards);

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .forecastInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .forecastDay {
    margin: 10px;
    padding: 5px;
  }

  .forecastDate {
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .forecastData {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bolder;

    img {
      width: 45%;
      height: 45%;
    }
  }
}
