@use "partials/reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@mixin theme($theme: cards) {
  line-height: 1.25;
  padding: 2rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(192, 225, 255, 0.6), 0 0 2px rgba(115, 185, 255, 0.4),
    0 0 2px #00b9f133, inset 0 0 2px rgba(212, 127, 0, 0.1),
    inset 0 0 2px rgba(0, 149, 255, 0.2);
}

$primary_font: helvetica, sans-serif;
$primary_color: #f8f9fa;
$second_color: black;

body {
  font-family: $primary_font;
}

// Header

header {
  height: 7vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.87);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky > * {
  transform: translateY(0);
}

.sticky > .content {
  padding-top: 7vh;
}

.searchBar {
  display: flex;
  align-items: center;
  margin: 1rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 0 0 0 5px;
  max-width: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.searchBar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #212121;
  background-color: transparent;
}

.searchBar input[type="text"]::-moz-placeholder {
  color: #7b7b7b;
}

.searchBar input[type="text"]::placeholder {
  color: #7b7b7b;
}

.searchBar input[type="text"]:focus {
  outline: none;
}

.searchBar .search {
  background-color: #dcf2ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar .search svg {
  fill: #dcf2ff;
  width: 20px;
  height: 20px;
}

.searchBar .search:hover {
  background-color: #a9dfff;
}

.searchBar .search:hover svg {
  fill: #a9dfff;
}

.searchBar .search:active {
  background-color: #76ccff;
}

.searchBar .search:active svg {
  fill: #76ccff;
}

// Main content

.content {
  display: flex;
}

// Loader

.lds-ripple {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #ff7300;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

// Weather

.weather {
  padding: 1rem;
  background: #eff8ff;
  color: $second_color;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

// Current weather

.currentWeather {
  @include theme(cards);
  margin-bottom: 1rem;
  flex-wrap: wrap;

  .weatherMetrics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .temperature {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .degrees {
        font-size: 2.5rem;
        font-weight: bold;
      }

      .weatherDescription {
        text-transform: uppercase;
        font-size: 0.6rem;
        font-style: italic;
      }
    }

    .weatherIcon {
      width: 150px;
      height: 150px;
      margin-right: 1rem;
    }
  }

  .metrics {
    @include theme(cards);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
  }

  .metricTitle {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }

  .metricsIcon {
    width: 80px;
    height: 80px;
  }

  .weatherMetric {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

// Miscellaneous

.miscellaneous {
  @include theme(cards);
  margin-bottom: 1rem;

  .miscellaneousMetrics {
    min-width: 250px;

    .misc {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgb(209, 209, 209);
      padding-bottom: 0.1rem;
      margin-bottom: 0.3rem;

      .miscIcon {
        height: 30px;
        width: 30px;
        margin-right: 5px;
      }

      .miscText {
        min-width: 60%;
        font-weight: bold;
        font-style: italic;
      }

      .miscMetric {
        font-style: italic;
      }
    }

    .sunset {
      display: flex;
      align-items: center;

      .miscIcon {
        height: 30px;
        width: 30px;
        margin-right: 5px;
      }

      .miscText {
        min-width: 60%;
        font-weight: bold;
        font-style: italic;
      }

      .miscMetric {
        font-style: italic;
      }
    }
  }
}

// Map

.mapWrapper {
  @include theme(cards);
  height: 400px;
  width: 400px;
}

#map {
  min-height: 350px;
  min-width: 350px;
  border-radius: 5px;
}

// Forecast

.forecast {
  @include theme(cards);

  .forecastMetrics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .forecastDay {
    @include theme(cards);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
  }

  .forecastDate {
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .forecastData {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

    .forecastTemp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .forecastDegrees {
        font-weight: bold;
        font-size: 1.4rem;
      }

      .forecastDescription {
        text-transform: uppercase;
        font-size: 0.5rem;
        font-style: italic;
      }
    }

    .forecastIcon {
      width: 60px;
      height: 60px;
    }
  }

  .forecastTitle {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
}

.countryInfo {
  @include theme(cards);
  width: 100%;
}
